.button_budget {

    background-color: #FFA726;
    padding: 1.2%;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 180px;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.button_budget:hover {

    box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px){

    .button_budget{
        margin-bottom: 5%;
        font-size: 0.9rem;
        padding: 5%;
    }
}