.Case {

    color: rgb(255, 255, 255);
    background-color: black;
}

hr {
    border: 0.6px solid rgba(255, 255, 255, 0.479);
    color: rgba(255, 255, 255, 0.534);
    background-color: transparent;
    height: 0.5px;
    width: 80px;
    margin: 3% 50% 5% 50%;

}

p {

    color: black;

}

.img_clients {

    height: 97vh;
    width: auto;
}

.Android {

    color: white;
}

@media only screen and (max-width: 600px) {


    .img_clients {

        height: 40vh;
        width: auto;
    }

}