.button_seeMore {

    text-transform: uppercase;
    background-color: transparent;
    padding: 1.5%;
    border-radius: 6px;
    border: 1px solid white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 180px;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;

}

.line_seeMore {

    margin: 2% 50% 2% 50%;

}

@media (max-width: 700px){

    .line_seeMore {
        margin: 5% 50% 5% 50%;
    }

    .button_seeMore {

       margin-bottom:5%;
       font-size: 0.9rem;
       padding: 5%;
    
    }
}