@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

.container_navBar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 00 rgba(0, 0, 0, 0.678);
    position: fixed;
    height: 55px;
    top: 0;
    width: 100%;
    padding-right: 2%;
    padding-left: 5%;
    font-weight: 400;
    background: #fff;
    z-index: 2;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1em;
    line-height: 64px;
    text-size-adjust: 100%;

}


.container_header {

    margin-top: 5px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 725px;

}

.itens_header {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
}

.header_buttons {

    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1% 1% 1% 1%;

}

.container_about {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4%;
    background-color: white;
}

.container_services {

    align-items: center;
    background-color: #1976D2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container_header {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos {

    position: relative;
    padding: 0 0 3% 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}


.container_sprint {

    width: 330px;
    text-align: center;
    height: auto;
    border-radius: 5px;
    box-shadow: inset 0 5px #3C80B9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 1% 3% 1%;
    background-color: rgba(255, 255, 255, 0.959);
    margin-left: 30px;
    margin-top: -40px;
    z-index: 1;
}

.container_clients1,
.container_clients2,
.container_clients3,
.container_clients4 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 97vh;
    width: auto;
    padding: 1% 1% 0 0;
}

.container_clients1 {

    background-color: #701C63;

}

.container_clients2 {

    background-color: #1CB593;

}

.container_clients3 {

    background-color: #6E9DEB;

}

.container_clients4 {

    background-color: #F0CA00;
}

.container_clients {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; 
    margin-left: 13%;
    margin-top: 5%;
}

.container_budget {

    background-color: #ECEFF1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.container_seeMore {

    background-color: #263238;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.container_contact {

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 2% 10.5% 2% 7%;
    background-color: white;


}

.container_icones {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14vw;
    margin: 15% 0 0 1%;
}

.container_phone {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.container_contact2 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_social {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;

}

.container_boxServices {

    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.item_cases{

    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.itens_clients{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.container_oquefizemos{
    width: auto;
    height: 20px;
    display: flex;
    flex-direction: row;
   
    color: rgb(0, 0, 0);
    
}

.container_disponivelpara{

    display: flex;
    flex-direction: row;

}

@media (max-width: 430px){

    .container_sprint {

        width: 230px;
    }

    .container_boxServices{

        padding-top:15px;
        height: 400px;
        width: auto;
        justify-content: center;
    }

  
}


@media only screen and (max-width: 700px) {

    

    .container_navBar {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_buttons {


        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container_about {


        padding: 10%;
    }

}

@media (max-width: 1000px){

    .container_contact {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .container_icones{

        width: auto;
        flex-direction: row;
    }

    .container_social{

        padding: 0;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 300px){

    .container_icones{

        flex-wrap: wrap;
        
    }
}

@media (max-width: 1085px){

    .container_clients1,
    .container_clients2,
    .container_clients3,
    .container_clients4 {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: -3px;
        
    }
}

@media (max-width: 1090px){

    .container_clients1,
    .container_clients2,
    .container_clients3,
    .container_clients4 {
    padding: 0 0 0 0;
    }

    .container_clients{

        margin: 0 0 0 0;
    }
}
