@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Biryani:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

.logo {

    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #377BB5;
    font-weight: 700;
    letter-spacing: 2px;
}

.title_about {

    font-size: 3rem;
    font-family: 'Biryani',
        sans-serif;
    font-weight: 900;
}

.title_about2 {
    font-size: 3rem;
    font-family: 'Biryani',
        sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.title_servicos {

    font-size: 3.5rem;
    font-family: 'Biryani', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5%;
    text-transform: uppercase;
}

.title_header {

    font-family: 'Hammersmith One', serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin: 3% 0;

}

.title_sprint {

    color: #4D616B;
    font-size: 1.5em;
    padding-bottom: 8%;
    padding-top: 2%;
    font-family: 'Source Sans Pro', sans-serif;
}

.title_clients {


    font-family: 'Biryani', sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 0 0 5% 0;


}

.title_budget {

    font-size: 3rem;
    font-family: 'Biryani',
        sans-serif;
    font-weight: 900;
    color: #424242;
    text-transform: uppercase;

}


.title_seeMore {

    font-size: 3rem;
    font-family: 'Biryani',
        sans-serif;
    font-weight: 900;
    color: #ffffff;
    margin-top: 3vh;

}

.title_contact {

    color: #616161;
    font-family: 'Hammersmith One';
    font-size: 1.6rem;

}

.title_contact2 {

    color: #616161;
    font-family: 'Hammersmith One';
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.title_banner {

    font-size: 3rem;
    font-family: 'Biryani',
        sans-serif;
    font-weight: 900;


}