@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Biryani:900&display=swap');

.logo {

    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #377BB5;
    font-weight: 700;
    letter-spacing: 2px;
}

.title_about {

    font-size: 3rem;
    font-family: 'Biryani', sans-serif;
    font-weight: 900;


}

.title_servicos {

    font-size: 3.5rem;
    font-family: 'Biryani', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5%;



}