.home {
    width: 100%;
    height: 725px;
    object-fit: cover;
    object-position: center;
}

/*#home {

    background-image: url("../Images/bkg-home.8be80019c9dae2ac8cdc.jpg");
    width: 100%;
    height: 725px;
    object-fit: cover;
    object-position: center;


}*/