@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.subtitle_about {

    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}

.subtitle_services {

    font-size: 2rem;
    font-family: 'Biryani', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 1%;

}

.subtitle_header {

    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    padding: 1%;
}