@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.subtitle_about {

    color: black;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}

.subtitle_services {

    font-size: 2rem;
    font-family: 'Biryani', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;



}

.subtitle_header {

    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 4%;
}

.subtitle_sprint,
.subtitle_mvp,
.subtitle_apps {

    color: rgb(32, 35, 36);
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.subtitle_clients {

    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}

.subtitle2_clients {

    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding-top: 3rem;


}

.subtitle_budget {

    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    color: #424242;

}

.subtitle_contact {

    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0 0 0;
    color: #757575;
    width: 17vw;
    line-height: 1.5;

}

.subtitle_contact2,
.subtitle_contact3 {

    font-size: 1rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 0.2rem;
    color: #757575;
    text-align: center;

}

.footer {

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1.2rem;
    color: white;
    background-color: #263238;
}

.subtitle_banner {

    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}